@import url(../../App.scss);

.checkbox_div {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 50px;
    background-color: #8E9AA7;
    transition: 300ms ease;
    margin-top: 10px;
}

.checkbox_input {
    display: none;
}

.checkbox_div::before {
    content: ' ';
    position: absolute;
    top: 2.4px;
    left:3px;
    width: 25px;
    height:25px;
    border-radius: 50px;
    background-color:white;
    transition: 300ms ease;
}

.checkbox_input:checked ~ .checkbox_div::before {
    left:22px;
    transition: 300ms ease;
}
.checkbox_input:checked ~ .checkbox_div {
    background-color: var(--mainColor);
    transition: 300ms ease;
}
.checkbox span  {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
}
.check{
    width: fit-content;
    margin-right: 20px;
}